<div>
	<div class="text-center">
		<h1>Node.js | API Based User Managment System</h1>
		<h3>For Mobile and/or Web App</h3>
		<h5>Utilizes Scalable Token Based Security and Social Media Logins</h5>
		<h6>Get started on your project fast without worrying about user management and authentication</h6>
	</div>
	<div class="simple-subscription-form">
	  <form>
	    <h4>Stay in the know!</h4>
	    <p>Receive updates from our team and partners. Simply enter your email below :</p>
	    <div class="input-group">
	      <span class="input-group-label">
	        <i class="fi-mail"></i>
	      </span>
	      <input class="input-group-field" type="email" placeholder="Email" required>
	      <button class="button">Plug Me</button>
	  </form>
	</div>
</div><!-- End of main div -->
