
<div id="register" class="container">
	<div class="row">
	  <div class="small-6 small-centered columns">
	    <a href="/api/auth/facebook" class="facebook radius button split"> sign in with facebook <span></span></a>
	    <a href="/api/auth/twitter" class="twitter radius button split"> sign in with twitter <span></span></a>
	    <a href="/api/auth/google" class="google radius button split"> sign in with google + <span></span></a>
	  </div>
	</div>
	<div class="row">
	  <div class="small-6 small-centered columns">
			<div class="alert alert-danger" role="alert" ng-if="errors">
				<p ng-repeat="error in errors">{{ error }}</p>
			</div>
			<p>Or enter your details below</p>
			<label>First Name:</label>
			<input class="form-control" type="text" name="firstName" ng-model="newUser.firstName" />
			<br>
			<label>Last Name:</label>
			<input class="form-control" type="text" name="lastName" ng-model="newUser.lastName" />
			<br>
			<label>Email:</label>
			<input class="form-control" type="text" name="email" ng-model="newUser.email" />
			<br>
			<label>Password:</label>
			<input class="form-control" type="password" name="password1" ng-model="newUser.password1" />
			<br>
			<label>Confirm Password:</label>
			<input class="form-control" type="password" name="password2" ng-model="newUser.password2" />
			<br>
			<button class="hollow button" ng-click="createUser()" type="submit" class="button radius">Register</button>
	  </div>
	</div>
</div><!-- End of Register-->
