<div class="row">
  	<div class="small-12 small-centered columns">
  		<span id="search">Search: <input type="text" ng-model="user_search"></span>
      <table>
  			<caption>A List of Currently Registered Users</caption>
  			<thead>
	  			<tr>
	  				<th>First Name</th>
	  				<th>Last Name</th>
	  				<th>Email</th>
	  				<th>Signed Up</th>
	  				<th>Account Type</th>
	  				<th>Actions</th>
	  			</tr>
	  		</thead>
  			<tr ng-repeat="user in users | filter: user_search | orderBy: '-type'">
  				<td>{{user.firstName}}</td>
  				<td>{{user.lastName}}</td>
  				<td>{{user.email}}</td>
  				<td>{{user.createdAt | date:'MM/dd/yyyy'}}</td>
  				<td ng-if="user.type == 0">Standard User</td>
  				<td ng-if="user.type == 1">Admin</td>
  				<td ng-if="user.type == 2">Super Admin</td>
  				<td ng-if="user.type == 3"><strong>GOD MODE</strong></td>
  				<td>
  					<ul class="button-group round">
					  <li ng-if="user.type == 0"><button ng-click="makeAdmin(user._id)" class="button tiny"><i class="fi-plus"></i> admin</a></li>
            <li ng-if="user.type == 1"><button ng-click="removeAdmin(user._id)" class="button tiny"><i class="fi-minus"></i> admin</a></li>
					  <li ng-if="user.type <= 1"><button ng-click="makeSuperAdmin(user._id)" class="button tiny"><i class="fi-plus"></i><i class="fi-star"> </i> super-admin</a></li>
					  <li ng-if="user.type == 2"><button ng-click="makeAdmin(user._id)" class="button tiny"><i class="fi-minus"></i> admin</a></li>
					  <li ng-if="user.type < 3"><button ng-click="deleteUser(user._id)"class="button tiny alert"><i class="fi-x"></i>  user</a></li>
					</ul>
  				</td>
  			</tr>
  		</table>
	</div>
</div>
