<div class="row">
	<div class="small-12 medium-6 large-4">
		<h1>Update Email</h1>
		<form>
			<p>Current Email:</p>
			<input type="text" ng-model="user.oldEmail">
			<p>New Email:</p>
			<input type="text" ng-model="user.newEmail">
			<p>Confirm Email:</p>
			<input type="text" ng-model="user.newEmail2">
			<a href="#/profile" class="button">Cancel</a>
			<button class="hollow button" ng-click="updateEmail(user)">Update Email</button>
		</form>
	</div>
</div><!-- End of user details div/partial -->